{% extends 'home.html' %}

{% block title %}
    {% block title1 %}<title>合作伙伴</title>

    {% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/profiles.css" type="text/css">
    <link rel="stylesheet" href="/static/css/cooperations.css" type="text/css">
{% endblock %}
{% block content %}
    <div class="pr-header">
        <img src="/static/image/profiles/cooperate.jpg" alt="cooperation">
    </div>

    <div class="pr-content">
        <div class="content-header">
            <span class="content-header-span1">合作伙伴</span>
            <span class="content-header-span2">COMPANY COOPERATIONS</span>
            <span class="span3">
                <span>当前位置</span>-->
                <span class="showinf">合作伙伴</span>
            </span>
        </div>
        <div class="pr-content-content1">
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>
            <div class="relationlogo"><a href=""><img src="/static/image/relationlogo.jpg" alt=""></a></div>

        </div>
    </div>

{% endblock %}


{% block script %}
{% endblock %}
