{% extends 'home.html' %}

{% block title %}
    {% block title1 %}<title>企业文化</title>

    {% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/profiles.css" type="text/css">
    <link rel="stylesheet" href="/static/css/culture.css" type="text/css">
{% endblock %}
{% block content %}
    <div class="pr-header">
        <img src="/static/image/profiles/belief.jpg" alt="">
    </div>

    <div class="pr-content">
        <div class="content-header">
            <span class="content-header-span1">企业文化</span>
            <span class="content-header-span2">COMPANY CULTURE</span>
            <span class="content-header-span3">
                <span>当前位置</span>-->
                <span class="showinf">走进海马</span>-->
                <span class="showinfsen">企业文化</span>
            </span>
        </div>
        <div class="cul-culture">
            <div class="cul-culture-1">
                <p class="culture1"><span style="color: red;">海马</span>宗旨</p>
                <p class="culture2">HAIMA WULIU</p>
                <p class="culture3">面向国内，打造物流陆运、空运行业品牌；
                                    诚信满天下，速度快到家！
                </p>
            </div><div style="width: 15px;height: 180px;float: left"></div>
            <div class="cul-culture-1">
                <p class="culture1"><span style="color: red;">海马</span>价值观</p>
                <p class="culture2">HAIMA WULIU</p>
                <p class="culture3">对客户信守承诺
                                    与客户共同发展
                </p>
            </div>
            <div class="cul-culture-1">
                <p class="culture1"><span style="color: red;">海马</span>用人理念</p>
                <p class="culture2">HAIMA WULIU EMPLOYING THE CONCEPT</p>
                <p class="culture3">尊重人才，有德有才重用
                </p>
            </div><div style="width: 15px;height: 180px;float: left"></div>
            <div class="cul-culture-1">
                <p class="culture1"><span style="color: red;">海马</span>服务理念</p>
                <p class="culture2">HAIMA WULIU BUSINESS POLICY</p>
                <p class="culture3">以客户利益为中心服务、 服务态度为特色的物流企业
                </p>
            </div>
            <div class="cul-culture-1">
                <p class="culture1"><span style="color: red;">海马</span>训导词</p>
                <p class="culture2">HAIMA WULIU DISCIPLINE WORD</p>
                <p class="culture3">热爱"物流"终于公司，利于客户利益
                                    牢记团队协作确保安全生产精通业务技术严守公司纪律文明
                                    诚实自律文明做事
                </p>
            </div><div style="width: 15px;height: 180px;float: left"></div>
            <div class="cul-culture-1">
                <p class="culture1"><span style="color: red;">海马</span>员工终极期望</p>
                <p class="culture2">HAIMA WULIU EXPECTATIONS</p>
                <p class="culture3">永远做非常需要做的事情，
而不必等待别人要求你去做
                </p>
            </div>
            <div class="cul-culture-2">
                <p class="culture1"><span style="color: #ec971f">海马运输 运营天下 惠及万家 !</span></p>
                <p class="culture2" style="color: black;font-size: 18px">东西 南北送货忙，数月不见爹和娘</p>
                <p class="culture2" style="color: black;font-size: 18px">服务 客户高兴我无悔，只求客户心里美</p>
                <p class="culture2" style="color: black;font-size: 18px">爱岗 敬业献青春，实事求是才是真。</p>

                <p class="culture3">尊重客户，服务至上，保证效率，海马春夏秋冬无处不在。</p>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
{% endblock %}
