{% extends 'home.html' %}

{% block title %}
    {% block title1 %}<title>航空运输</title>

    {% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/profiles.css" type="text/css">
{% endblock %}
{% block content %}
    <div class="pr-header">
        <img src="/static/image/profiles/maritime.jpg" alt="maritime">
    </div>

    <div class="pr-content">
        <div class="content-header">
            <span class="content-header-span1">航空运输</span>
            <span class="content-header-span2">AIR TRANSPORT</span>
            <span class="content-header-span3">
                <span>当前位置</span>-->
                <span class="showinf">产品服务</span>-->
                <span class="showinfsen">航空运输</span>
            </span>
        </div>
        <div class="carriage">
            <h1>航空运输服务</h1>
            <div >
                <img src="/static/image/profiles/air.jpg" alt="air">
            </div>
            <h3>海马航空运输优势</h3>
                 <h4 style="background-color: #ec971f;color: white;border-radius: 10px;width: 50px;height: 25px;text-align: center;padding: 2px 0 ">安全</h4>
                公司根据客户不同需求，可为您提供准确、快捷的航空货物联运和转运服务。

                <h4 style="background-color: #ec971f;color: white;border-radius: 10px;width: 50px;height: 25px;text-align: center;padding: 2px 0 ">快捷</h4>
                公司独具优势的国内 8 、 12 、 24 小时的限时服务品牌和遍布全国的航空快递网络，安全、准确、
                快捷地为您提供优质的门到门航空快递和物流服务，并实施信息跟踪服务。



        </div>
    </div>

{% endblock %}


{% block script %}
{% endblock %}
