{% extends 'home.html' %}

{% block title %}
    {% block title1 %}<title>包装服务</title>

    {% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/profiles.css" type="text/css">
{% endblock %}
{% block content %}
    <div class="pr-header">
        <img src="/static/image/profiles/packaging.jpg" alt="packaging">
    </div>

    <div class="pr-content">
        <div class="content-header">
            <span class="content-header-span1">包装服务</span>
            <span class="content-header-span2">PACKAGING SERVICE</span>
            <span class="content-header-span3">
                <span>当前位置</span>-->
                <span class="showinf">产品服务</span>-->
                <span class="showinfsen">包装服务</span>
            </span>
        </div>
        <div class="carriage">
           <p>包装服务作为上海航裕物流公司的的增值服务项目，
               上海航裕物流一直非常重视二次包装产品的开发和应用，
               作为一家物流公司，必须拥有专业的包装技术，
               航裕物流的定制包装服务已经成为航裕的特色业务。
           </p>
            <p>
                可提供的包装——定制纸箱、各种实木、复合木箱、航空箱、内衬软包装等
            </p>
            <p>
                专业包装产品——精密仪器内包装加外包装、艺术品成套包装、
                实木家具定制包装、家庭个人物品整体包装服务。
            </p>
            <div class="page">
                <div><img src="/static/image/profiles/page1.jpg" alt="page1"></div>
                <div><img src="/static/image/profiles/page2.jpg" alt="page2"></div>
                <div><img src="/static/image/profiles/page3.jpg" alt="page3"></div>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
{% endblock %}
