{% extends 'home.html' %}

{% block title %}
    {% block title1 %}<title>企业简介</title>

    {% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/profiles.css" type="text/css">
{% endblock %}
{% block content %}
    <div class="pr-header">
        <img src="/static/image/profiles/belief.jpg" alt="profiles">
    </div>

    <div class="pr-content">
        <div class="content-header">
            <span class="content-header-span1">企业简介</span>
            <span class="content-header-span2">COMPANY PROFILES</span>
            <span class="content-header-span3">
                <span>当前位置</span>-->
                <span class="showinf">走进海马</span>-->
                <span class="showinfsen">企业简介</span>
            </span>
        </div>
        <div class="pr-content-content">
            <p> <span style="color: red;font-size: 22px">海马运输有限公司</span>成立于2012年03月21日，本公司位于合肥市庐阳区耀远路工投产业园1号楼8017，交通便利。几年来，在社会各界的支持下，公司现已发展成为能从事国内空运，国内陆运及特快零担多种运输的综合性物流公司。</p>


        　　<p>公司主营业务：承接全国各地长短途整车、零担运输业务；办理货物配载、吊车业务；空运、海运业务</p>


        　　<p>公司以 <span style="color: red"> "安全便捷、快速准点、热情礼貌、诚实守信" </span>为服务理念，着力打造服务品牌，以优质服务赢得客户满意和业界好评。</p>


        　　<p>公司实施企业文化发展战略，以<span style="color: red">"客户至上，服务社会" </span>为企业宗旨，促进物质文明、精神文明和政治文明协调发展。海马将一如既往地以强大的实力和良好的信誉，竭诚为广大新老客户提供专业化、标准化、个性化的现代物流服务，与所有合作伙伴携手共进，为推进安丘市物流业跨越发展，作出应有的贡献。</p>
        </div>
        <div class="pr-content-infe">
            <div class="pr-content-infe1">基本信息</div>
            <div class="pr-content-infe2">海马运输有限公司</div>
            <div class="pr-content-infe3"><img src="/static/image/profiles/name.jpg" alt="logo"></div>
            <div class="pr-content-infe4">
                <span>负责人：姜国刚</span>
                <span>服务监督：13295516592</span>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
{% endblock %}
