{% extends 'home.html' %}

{% block title %}
    {% block title1 %}<title>服务流程</title>

    {% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/profiles.css" type="text/css">
    <link rel="stylesheet" href="/static/css/serverflow.css" type="text/css">
{% endblock %}
{% block content %}
    <div class="pr-header">
        <img src="/static/image/profiles/serverflow.jpg" alt="serverflow">
    </div>

    <div class="pr-content">
        <div class="content-header">
            <span class="content-header-span1">服务流程</span>
            <span class="content-header-span2">SERVER FLOW</span>
            <span class="content-header-span3">
                <span>当前位置</span>-->
                <span class="showinf">产品服务</span>-->
                <span class="showinfsen">服务流程</span>
            </span>
        </div>

        <div class="pr-content-server">
            <div class="pr-content-server-introduce">
                <p>海马运输有限公司整合运输资源使运输的效率达到最高，
                    再加之专线运输优势。现在在合肥市来说，
                    货物运输价格保证在低价合理的范围之中。
                    为发货的客户的提供了一个低价、安全、迅速的选择环境。
                </p>
            </div>
            <div class="pr-content-server-img">
                <img src="/static/image/serverflow.jpg" alt="">
            </div>
        </div>

    </div>

{% endblock %}


{% block script %}
{% endblock %}
