{% extends 'home.html' %}

{% block title %}
    {% block title1 %}<title>定时必达</title>

    {% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/profiles.css" type="text/css">
{% endblock %}
{% block content %}
    <div class="pr-header">
        <img src="/static/image/profiles/timereach.jpg" alt="timereach">
    </div>

    <div class="pr-content">
        <div class="content-header">
            <span class="content-header-span1">定时必达</span>
            <span class="content-header-span2">TIME TO REACH</span>
            <span class="content-header-span3">
                <span>当前位置</span>-->
                <span class="showinf">产品服务</span>-->
                <span class="showinfsen">定时必达</span>
            </span>
        </div>
        <div class="timerach">
            <h1>定时必达</h1>
            <div >
                <img src="/static/image/profiles/time.jpg" alt="">
            </div>
            <h4>1、高时效服务</h4>
            <p>
                公司提供当天发的合肥定时必达服务。
                采用正规标准定价,严格精准的操作流程，
                各个环节均以最快速递进行发运,派送，中转。
                对客户一诺千金，从发货到目的站提货，全程把控，
                以标准化和人性化，实现贴心一条龙服务
                精准实现限时必达的承诺。
            </p>
            <h4>2、国内货运时效服务</h4>
            <p>
                公司独具优势的国内 8 、 12 、 24 小时的限时服务品牌和遍布全国的航空快递网络，
                安全、准确、快捷地为您提供优质的门到门物流服务，并实施信息跟踪服务。
            </p>
        </div>
    </div>

{% endblock %}


{% block script %}
{% endblock %}
