{% extends 'home.html' %}

{% block title %}
    {% block title1 %}<title>仓库物流</title>

    {% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/profiles.css" type="text/css">
{% endblock %}
{% block content %}
    <div class="pr-header">
        <img src="/static/image/profiles/warehouse.jpg" alt="warehouse">
    </div>

    <div class="pr-content">
        <div class="content-header">
            <span class="content-header-span1">仓库物流</span>
            <span class="content-header-span2">WAREHOUSE SERVER</span>
            <span class="content-header-span3">
                <span>当前位置</span>-->
                <span class="showinf">产品服务</span>-->
                <span class="showinfsen">仓库物流</span>
            </span>
        </div>
        <div class="distribution">
            <p><img src="/static/image/timg.gif" alt="timg"></p>
            <p>仓库物流服务正在升级优化中，敬请期待</p>
        </div>
    </div>

{% endblock %}


{% block script %}
{% endblock %}
